In [1]:
print("hello world")

hello world

In [2]:
print("vandna")

vandna

In [3]:
print("1298")

1298

In [4]:
print("full stack development")

full stack development

In [5]:
print("pyhton",1878,"javascript","html")

pyhton 1878 javascript html

In [6]:
#this is commment

In [7]:
# hash is udes for commenting

In [8]:
v=15555

In [9]:
type(v)

int

In [10]:
g="vandna"

In [11]:
type(g)

str

In [12]:
print(type(g))

<class 'str'>

In [13]:
v_12="vandna"

In [14]:
type("v_12")

str

In [15]:
print(type(v_12))

<class 'str'>

In [16]:
#variable is used to store the values

In [17]:
print("variable cannot be start with digit and special character")

variable cannot be start with digit and special character

In [18]:
_v=15

In [19]:
print(type(_v))

<class 'int'>

In [20]:
$v=568

SyntaxError: invalid syntax (2121561228.py, line 1)

In [21]:
id()

TypeError: id() takes exactly one argument (0 given)

In [22]:
id(_v)

140734601008360

In [23]:
#dynamic in nature changable

In [24]:
#type casting covert data types

In [25]:
t=input("enter your name")

enter your namevandna sharma

In [26]:
type(t)

str

In [27]:
v=int(input("enter your birthday date"))

enter your birthday date4

In [28]:
type(v)

int

In [29]:
f=complex(v)

In [30]:
print('f')

f

In [31]:
print(f)

(4+0j)

data types

type casting
@ to convert data types

In [32]:
print(id(f))

2222935776752

In [33]:
print(id(f))

2222935776752

In [34]:
g=10+4j

In [35]:
print(g)

(10+4j)

In [36]:
print(type(g))

<class 'complex'>

In [37]:
print(id(g))

2222935781520

In [38]:
g.imag

4.0

In [39]:
g.real

10.0

In [40]:
course=input("enter your  course")

enter your  coursefull stack development

In [42]:
d_o_e=int(input("enter your date of enrollment"))

enter your date of enrollment3

In [43]:
print(type("d_o_e"))

<class 'str'>

In [44]:
print(id(d_o_e))

140734601007976

1. Arithmetic operators    == +, -, , /, // ,*, %
2. Comparision Operators   == > ,>=, <, <=, ==, !=
3. Logical Operators       == AND, OR, NOT
4. Bitwsie Operators       == Bitwsie AND, Bitwise OR, Bitwsie XOR,
5. Assignment operators    ==  +=, -=, =, /=, //=, *=, %=,
6. special operators      == 
   1. membership operator = in , not
   2. Special Operators = is, is not

1. Arithmetic operators    == +, -, , /, // ,*, %
2. Comparision Operators   == > ,>=, <, <=, ==, !=
3. Logical Operators       == AND, OR, NOT
4. Bitwsie Operators       == Bitwsie AND, Bitwise OR, Bitwsie XOR,
5. Assignment operators    ==  +=, -=, =, /=, //=, *=, %=,
6. special operators      == 
   1. membership operator = in , not
   2. Special Operators = is, is not

1. Arithmetic operators    == +, -, , /, // ,*, %
2. Comparision Operators   == > ,>=, <, <=, ==, !=
3. Logical Operators       == AND, OR, NOT
4. Bitwsie Operators       == Bitwsie AND, Bitwise OR, Bitwsie XOR,
5. Assignment operators    ==  +=, -=, =, /=, //=, *=, %=,
6. special operators      == 
   1. membership operator = in , not
   2. Special Operators = is, is not

1. Arithmetic operators    == +, -, , /, // ,*, %
2. Comparision Operators   == > ,>=, <, <=, ==, !=
3. Logical Operators       == AND, OR, NOT
4. Bitwsie Operators       == Bitwsie AND, Bitwise OR, Bitwsie XOR,
5. Assignment operators    ==  +=, -=, =, /=, //=, *=, %=,
6. special operators      == 
   1. membership operator = in , not
   2. Special Operators = is, is not

1. Arithmetic operators    == +, -, , /, // ,*, %
2. Comparision Operators   == > ,>=, <, <=, ==, !=
3. Logical Operators       == AND, OR, NOT
4. Bitwsie Operators       == Bitwsie AND, Bitwise OR, Bitwsie XOR,
5. Assignment operators    ==  +=, -=, =, /=, //=, *=, %=,
6. special operators      == 
   1. membership operator = in , not
   2. Special Operators = is, is not

In [1]:
13<15

True

In [2]:
(15>12) and (12>10)

True

In [3]:
(10<5) or (78>98)

False

In [4]:
not((10<5) or (78>98))

True

In [5]:
(45>12) & (42>25)

True

In [6]:
(28<15) | (15<20)

True

In [7]:
Xor(15>12)

NameError: name 'Xor' is not defined

In [8]:
XOR(15>12)

NameError: name 'XOR' is not defined

In [9]:
XOR(True)

NameError: name 'XOR' is not defined

In [10]:
15^18

29

In [11]:
14^10

4

In [12]:
12==12

True

In [13]:
h=10

In [14]:
h+=5

In [15]:
h

15

In [16]:
h-=4

In [17]:
h

11

In [18]:
h*=20

In [19]:
h

220

In [20]:
h/=10

In [21]:
h

22.0

In [22]:
#/ , // , %

In [23]:
12/6

2.0

In [24]:
12//6

2

In [25]:
12%6

0

In [26]:
bin(2)

'0b10'

In [27]:
bin(1205441)

'0b100100110010011000001'

In [28]:
hex(15)

'0xf'

In [1]:
h=20

In [2]:
if h>18:
    print("20 is greater number")
else:
    print("20 is smaller number")

20 is greater number

In [5]:
age=int(input("enter your age:"))

enter your age:20

In [6]:
if age>18:
    print("you are eligible for voting")
else:
    print("you are not eligible  for voting")

you are eligible for voting

In [9]:
name=input("enter your name")

enter your namevandna

In [10]:
if name=="vandna":
    print("your name is vandna")
else:
    print("your name is not vandna")

your name is vandna

In [14]:
#elif
num=int(input("enter any number"))

enter any number-2

In [15]:
if num>0:
    print("its  a positive number")
elif num==0:
    print("its zero")
else:
    print("its a nagative number")

its a nagative number

In [16]:
#nested if elif else

In [17]:
num=int(input("enter any number"))

enter any number78

In [18]:
if num>=0:
    if num==0:
        print("its zero")
    else:
        print("its graeter than zero")
else:
    print("its a negative number")

its graeter than zero

In [19]:
# write a program to find the largest number among three

In [1]:
a=int(input("enter a number"))
b=int(input("enter second number"))
c=int(input("enter third number"))

enter a number12
enter second number15
enter third number14

In [2]:
if (a>b) and (a>c):
    print("first number is the largest")
elif(b>c) and (b>a):
    print("second number is the largest")
else:
    print("third number is the largest")

second number is the largest

In [1]:
i=1
while(i<=20):
    if(i%2==0):
        print(i,end=" ")
    i+=1

2 4 6 8 10 12 14 16 18 20

In [3]:
n=int(input("enter a number to find sum of n natural number"))

enter a number to find sum of n natural number15

In [ ]:
s=0
while True:
    s+=n
    n-=1
    
    if(n==0):
        break

In [ ]:
print(n)

In [ ]:
s=0
while True:
    s+=n
    n-=1
    if(n==0):
        break

In [ ]:
print(s)

In [2]:
print 10+40+80\
     90+100

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (290549500.py, line 1)

In [3]:
print(80+90+100+\
     90+40)

400

In [4]:
add=(10+40+
    50+70)

In [5]:
print(add)

170

In [6]:
add=10+40+80+\
    40+50

In [7]:
print(add)

220

In [2]:
#range end+1 # to print values of range we have to use list tuple set

In [3]:
list(range(1,20))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [4]:
set(range(1,21,2))

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19}

In [5]:
set(range(5,51,2))

{5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49}

In [6]:
list(range(-20,2))

[-20,
 -19,
 -18,
 -17,
 -16,
 -15,
 -14,
 -13,
 -12,
 -11,
 -10,
 -9,
 -8,
 -7,
 -6,
 -5,
 -4,
 -3,
 -2,
 -1,
 0,
 1]

In [7]:
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [9]:
i=1
while i<=20:
    if i%2==0:
        print(i)
    i+=1

2
4
6
8
10
12
14
16
18
20

In [10]:
for i in range(2,22,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [14]:
for i in range(1,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [15]:
#table

In [16]:
n=int(input("enter any number"))

enter any number10

In [17]:
for i in range(1,11):
    print("{}*{}={}".format(n,i,n*i))

10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90
10*10=100

In [18]:
#pattern printing

#observation
1. n=rows
2. no of rows=no. of stars
*
**
***
****
*****

In [20]:
"hello"*10

'hellohellohellohellohellohellohellohellohellohello'

In [21]:
"*"*5

'*****'

In [22]:
n=int(input("enter any number"))

enter any number5

In [23]:
for i in range(1,5):
    print("*")

*
*
*
*

In [24]:
for i in range(1,n+1):
    print("*"*i)

*
**
***
****
*****

In [25]:
for i in range(1,6):
    print("*"*i)

*
**
***
****
*****

In [26]:
for i in range(6,1,-1):
    print("*"*i)

******
*****
****
***
**

In [33]:
for i in range(n,0,-1):
    print("*"*i)

*****
****
***
**
*

In [30]:
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end="")
    print()

*
**
***
****
*****

In [31]:
#write   A program to calculate sum of n natural sum

In [17]:
v=int(input("enter a number to calculate sum"))

enter a number to calculate sum11

In [39]:
s_um=0
for i in range(1,v+1):
    s_um+=i

In [40]:
print(s_um)

55

In [18]:
s=0

while(True):
    s+=v
    v-=1
    if v==0:
        break

In [20]:
print(s)

66

In [ ]:
#write a program to check wether a  number is prime or not

In [29]:
num=int(input("enter any number"))

enter any number11

In [31]:
for i in range(2,num+1):
    if(num%i==0):
        
        print("num is not  prime")
        break;
    else:
        print("num is prime")
        break;

num is prime

In [5]:
num=int(input("enter  number"))

enter  number45

In [6]:
while (True):
    if(num<1):
        print("number is negative")
        break;
    else:
        for()
        
        break;

number is not negative

In [11]:
grade=int(input("enter the grade in number"))

enter the grade in number70

In [13]:
if(grade>=90) and (grade<=99):
    print("grade A")
elif (grade>=80) and (grade<=89):
    print("grade B")
elif (grade>=70) and (grade<=79):
    print("grade C")
elif (grade>=60) and (gradde<=69):
    print("grade D")
else:
    print("fail")

grade C

In [16]:
e_o=int(input("enter any number"))

enter any number44

In [17]:
if(e_o%2==0):
    print("number is even")
elif(e_o%2!=0):
    print("number is odd")
else:
    print("entered number is wrong")

number is even

In [ ]:
# check the leap year

In [19]:
leap=int(input("enter the year to check if its leap or not"))

enter the year to check if its leap or not2040

In [23]:
if(leap%4==0) or (leap%400==0):
    print("year is leap")
else:
    print("year is not leap")

year is leap

In [24]:
#check a number wether its positive  negative or zero

In [28]:
p=int(input("enter any number"))

enter any number0

In [29]:
if (p>0):
    print("its a positive number")
elif (p<0):
    print("its a negative number")
else:
    print("its zero")

its zero

In [30]:
# to check the triangle type

In [36]:
a=int(input("enter first side of triangle"))
b=int(input("enter second side of triangle"))
c=int(input("enter third side of triangle"))

enter first side of triangle24
enter second side of triangle45
enter third side of triangle45

In [37]:
if(a==b==c):
    print("triangle is euilateral")
elif(a==b) and (a!=c) or (b==c) and(b!=a):
    print("triangle is isoscles")
else:
    print("triangle is scalene")

triangle is isoscles

In [38]:
# print even number between 1-20 using for loop

In [41]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [42]:
#factorial of a number

In [80]:
fact=int(input("enter any number"))

enter any number6

In [81]:
s_um=0
for i in range(fact,1):
    fact=i*(fact-1)
print(fact)

6

In [68]:
# to print multiplication table

In [71]:
t_able=int(input("enter amy number to print its tabble"))

enter amy number to print its tabble8

In [72]:
for i in range(1,11):
    print("{}*{}={}".format(t_able,i,t_able*i))

8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80

In [74]:
#pattern question

In [84]:
for i in range(1,6):
    for j in range(1,6):
        print(i)

1
1
1
1
1
2
2
2
2
2
3
3
3
3
3
4
4
4
4
4
5
5
5
5
5